<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;

  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
    <div class="row">
     
    

<div class="gallery">
  <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0071.jpg ">
    <img src="../../assets/gallery/IMG-20210624-WA0071.jpg" alt="Cinque Terre" width="958" height="768">
  </a>
  
  
 
</div>

<div class="gallery">
    <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0072.jpg ">
      <img src="../../assets/gallery/IMG-20210624-WA0072.jpg" alt="Cinque Terre" width="958" height="768">
    </a>
    
    
   
  </div>
  
<div class="gallery">
    <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0073.jpg ">
      <img src="../../assets/gallery/IMG-20210624-WA0073.jpg" alt="Cinque Terre" width="958" height="768">
    </a>
    
    

   
  </div>



</div>


<div class="row">
     
    

    <div class="gallery">
      <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0076.jpg ">
        <img src="../../assets/gallery/IMG-20210624-WA0076.jpg" alt="Cinque Terre" width="958" height="768">
      </a>
      
      
     
    </div>
    
    <div class="gallery">
        <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0077.jpg ">
          <img src="../../assets/gallery/IMG-20210624-WA0077.jpg" alt="Cinque Terre" width="958" height="768">
        </a>
        
        
       
      </div>
      
    <div class="gallery">
        <a target="_blank" href="../../assets/gallery/IMG-20210624-WA0078.jpg ">
          <img src="../../assets/gallery/IMG-20210624-WA0078.jpg" alt="Cinque Terre" width="958" height="768">
        </a>
        
        
    
       
      </div>
    
    
    
    </div>



</body>
</html>